.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    width: 100%;
    /*padding-right: var(--bs-gutter-x,.75rem); */
    /*padding-left: var(--bs-gutter-x,.75rem); */
    padding-right: var(--bs-gutter-x,.0rem); 
    padding-left: var(--bs-gutter-x,.0rem); 
    margin-right: auto;
    margin-left: auto;
}
.navbar-top {
    padding-top: 1.0rem;
    padding-bottom: .9rem;
}

.border-menu{ 
	text-align: center;
	/*border-left: solid 2px #ece9e9; */ 
	font-size: 13px;
	color: rgb(241 239 239) !important;
	font-weight: 600 !important;
	padding-right: .0rem !important;
    padding-left: .0rem !important;
}

.border-footer-menu{ 
	text-align: center;
	color: rgb(115 115 115) !important;
	font-size: 13px ;
	font-weight: 600 !important;
	padding-right: .0rem !important;
    padding-left: .0rem !important;

    display: inherit;
    padding: 0rem;
    text-decoration: none;
}
.border-menu-home{
	text-align: center;
	font-size: 13px;
	font-weight: 500 !important;
	color: rgb(241 239 239) !important;
	padding-right: .0rem !important;
    padding-left: .0rem !important;
}
.border-footer-menu-home{ 
	text-align: center;
	font-size: 13px;
	font-weight: 500 !important;
	color: rgb(115 115 115) !important;
	padding-right: .0rem !important;
    padding-left: .0rem !important;
}
.border-menu-language{ 
	text-align: center;
	font-size: 13px;
	font-weight: 600 !important;
	color: rgb(241 239 239) !important;
	padding-right: .0rem !important;
    padding-left: .0rem !important;
}
/*-------------------*/
#nav-social li{
    display: inline;
}

/*.social-icon-size img {
	height: 25px !important;
    width: 25px !important;
}*/

.contents{
	background-color: #333333 !important;
}
.nhr {
	margin: 2rem 0rem 1rem 0px !important;
   	color: #e4e4e4 !important;
    height: 2px !important;
    opacity: inherit !important;
}


.slide-item{
	padding: 0 1rem 0 0 !important;
}
























